{% extends "base.html" %}

{% block container %}
  <h1>{% if object %}Update{% else %}Add{% endif %} service</h1>

  <form action="." method="POST">
    {% csrf_token %}
    {% if object %}
    <p>
      <label for="id_topic">Topic</label>
      <input id="id_topic" maxlength="70" type="text" value="{{object.topic}}" readonly />
    </p>
    {% endif %}
    {{form.as_p}}
    <button type="submit" class="btn btn-default">Save</button>
    {% if object %}
      <a href="{% url 'service-delete' pk=object.pk%}" class="btn btn-danger">
        Delete
      </a>
    {% endif %}
  </form>
{% endblock %}
